services:
  mongodb:
    image: mongo:6.0
    container_name: market-mongo
    restart: always
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

  nextjs:
    build: .
    container_name: market-nextjs
    restart: always
    ports:
      - '3000:3000'
    environment:
      MONGODB_URI: mongodb://root:example@mongodb:27017/market-api?authSource=admin
      NODE_ENV: development
    depends_on:
      mongodb:
        condition: service_started
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next

volumes:
  mongo-data:
